.card_container {
    height: 410px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.text_container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    h2 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: var(--gray-600);
        margin: 10px 0;
        overflow: hidden;
        height: 50px;
    }

    p {
        font-size: 14px;
        color: var(--gray-300);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        font-size: 14px;
        color: var(--gray-600);
    }

}